<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div id="lightbox">
		<form id="nickname-form">
			<input class="nickname" type="text" placeholder="What is your nickname?">
			<input class="submit-btn" type="submit" name="submit" value="Let me in!">
			<!-- <button class="submit-btn">Let me in!</button> -->
		</form>
	</div>

	<ul id="messages"></ul>
	<form id="typing-box">
		<input class="message" type="text" id="m" autocomplete="off">
		<button>send</button>
	</form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
