<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat.you!</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<h1 class="hidden">Chat Application</h1>
	<div id="lightbox">
		<form id="nickname-form">
			<p class="title">Welcome to Chat.you!</p>
			<img src="images/chat-icon.png" alt="Chat baloons">
			<input class="nickname" type="text" placeholder="What is your nickname?" autofocus>
			<input class="submit-btn" type="submit" name="submit" value="Let me in!">
		</form>
	</div>
	<div id="container">
		<ul id="messages"></ul>
		<div id="type-wrapper">
			<p class="typing"></p>
			<form id="typing-box">
				<input class="message" type="text" id="m" autocomplete="off" autofocus>
				<button>send</button>
				<div id="icon-wrapper">
					<a href="#" id="night-button">Night Mode: OFF</a>
					<img id="small-icon" src="images/chat-icon.png" alt="Chat baloons small icon">
				</div>
			</form>
		</div>
	</div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
